<div class="row" >
  <div class="span10 offset5">
    <span class="label label-warning"><%= flash[:alert] %></span>
   <h2>Please log in</h2>
  <%= form_tag do %>

    <label for="name" >Name:</label>
    <%= text_field_tag :name, params[:name] %>


    <label for="password" >Password:</label>
    <%= password_field_tag :password, params[:password] %></br>


    <%= submit_tag "Login", class: "btn btn-primary btn-large"%>


    <% end %>
  </div>
</div>
