<h5><%= "#{@member.first_name} #{@member.last_name} payments"%></h5>
  <h6><%= @payments.last.date%></h6>

  <table class="pdf_table table table-striped table-condensed table-bordered">
    <tr>
     <th>Date</th>
     <th>Invoice</th>
     <th>Mode of payment</th>
     <th>Cheque no</th>
     <th>Bank name</th>
     <th>Amount</th>
     <th>Balance</th>

  <% @last_12_payments.each do |payment| %>
    <tr>
      <td><%= payment.date%></td>
      <td><%= payment.invoice%></td>
      <td><%= payment.mode_of_payment %></td>
      <td><%= payment.cheque_no %></td>
      <td><%= payment.bank_name %></td>
      <td><%= payment.amount %></td>
      <td><%= payment.balance %></td>
   </tr>
  <% end %>
  </table>
