<div>
<%= wicked_pdf_stylesheet_link_tag "members"%>
<section>
<p>
  The secretariat<br />
  kenya Magistrates and Judges Association<br/>
  Milimani law courts,2nd floor,room no 244<br/>
  p.o Box 30041-00100<br/>
  Nairobi,Kenya<br/>
  Telephone:3588237<br/>
  Email kmjasec@yahoo.com,kmjasec@gmail.com
</p>
</section>
<h5><%= "#{@member.first_name} #{@member.last_name} payments"%></h5>
  <h6><%= @payments.last.date%></h6>

  <table class="pdf_table table table-striped">
    <tr>
     <th>Date</th>
     <th>Invoice</th>
     <th>Mode of payment</th>
     <th>Cheque no</th>
     <th>Bank name</th>
     <th>Amount</th>
     <th>Balance</th>

  <% @last_12_payments.each do |payment| %>
    <tr>
      <td><%= payment.date%></td>
      <td><%= payment.invoice%></td>
      <td><%= payment.mode_of_payment %></td>
      <td><%= payment.cheque_no %></td>
      <td><%= payment.bank_name %></td>
      <td><%= payment.amount %></td>
      <td><%= payment.balance %></td>
   </tr>
  <% end %>
  </table>
</div>
