<ul class="breadcrumb">
  <li><%= link_to "#{@member.first_name+ " " + @member.last_name}", @member %><span class="divider">/</span></li>
  <li class="active">payments</li>
</ul>
<section>
  <section class="row-fluid">
  <h1 class="span11"><%= "#{@member.first_name}'s payments"%></h1>
  <%if @member.ever_active?%>
  <%= link_to image_tag("pdf.jpeg", size: "50x20"), member_payments_path(@member, format: :pdf), class: "span1 pull-right"%>
  <%end%>
  </secion>
  <table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
     <th>Date</th>
     <th>Invoice</th>
     <th>Mode of payment</th>
     <th>Cheque no</th>
     <th>Bank name</th>
     <th>Amount</th>
     <th>Balance</th>
     <th></th>
     <th></th>
    </tr>

  <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.date%></td>
      <td><%= payment.invoice%></td>
      <td><%= payment.mode_of_payment %></td>
      <td><%= payment.cheque_no %></td>
      <td><%= payment.bank_name %></td>
      <td><%= payment.amount %></td>
      <td><%= payment.balance %></td>
      <td><%= link_to 'Show',[@member, payment], class: "btn btn-mini btn-info"%></td>
      <td><%= link_to 'Destroy', [@member, payment], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-mini"%></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to "Back", @member, class: "btn"%>
</section>
