<%= form_for(@payment_plan) do |f| %>
  <% if @payment_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_plan.errors.count, "error") %> prohibited this payment_plan from being saved:</h2>

      <ul>
      <% @payment_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :judge %><br />
    <%= f.number_field :judge,  required: true, autofocus: true%>


    <%= f.label :magistrate %><br />
    <%= f.number_field :magistrate, required: true%>


    <%= f.label :kadhi %><br />
    <%= f.number_field :kadhi, required: true %><br/ >


    <%= f.submit class: "btn btn-large btn-primary" %>

<% end %>
