<!DOCTYPE html>
<html>
<head>
  <title>kenya Magistrates and Judges Association</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<nav class="navbar navbar-fixed-top">
  <section class="navbar-inner">
  <% if user_signed_in?%>
    <a class="brand">kenya Magistrates and Judges Association </a>
    <%end%>
    <ul class="nav pull-right">
      <% if user_signed_in?%>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Payment Charges <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
          <li><%= link_to "View current payment charges", payment_plans_path%></li>
          <% if can? :create, PaymentPlan %>
          <li><%= link_to "Add new payment charges", new_payment_plan_path%></li>
          <%end%>
      </ul>
      </li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         Members <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
       <li> <%= link_to "View Members", members_path%></li>
       <% if can? :create, Member%>
       <li><%= link_to "Add a new member", new_member_path%></li>
       <li><%= link_to "view deleted members", deleted_members_path%></li>
       <%end%>
      </ul>
      </li>
      <% if can? :invoice, Member%>
      <li><%= link_to "Invoice", invoice_path%></li>
      <%end%>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           Payments <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "view Payments", payments_path%></li>
          <% if can? :create, Payment%>
            <li><%= link_to "view deleted payments", deleted_payments_path%></li>
          <%end%>
        </ul>
      </li>
      <li><%= link_to "Late payments", judges_with_balances_path%></li>
       </li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         <%= current_user.name%><b class="caret"></b>
         </a>
         <ul class="dropdown-menu">
           <li><%= link_to "Change your password", edit_user_registration_path %></li>
           <li><%= link_to "logout", destroy_user_session_path, method: :delete%></li>
          </ul>
      </li>
      <%else%>
      <li class="pull-right"><%= link_to "sign in", new_user_session_path%></li>
      <%end%>
    </ul>

  </section>
</nav>
</header>
<div class="container-fluid", id="main">

 <span class="label label-success"><%= notice %></span>
 <span class="label label-warning offset3"><%= alert %></span>
<%= yield %>
</div>

</body>
</html>
