<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, required: true, autofocus: true %>


    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, required: true %>


    <%= f.label :designation %><br />
    <%= f.select :designation, Member::Designations %>


    <%= f.label :email_address %><br />
    <%= f.email_field :email_address, required: true %>


    <%= f.label :cell_number %><br />
    <%= f.text_field :cell_number %>


    <%= f.label :region %><br />
    <%= f.select :region, Member::Regions %>


    <%= f.label :active %>
    <%= f.check_box :active, {checked: true} %><br/ >
    <br />

    <%= f.submit "Add member", class: "btn btn-primary btn-large" %>

<% end %>
