<%= render :partial => "payments/header.html.pdf"%>
<%= wicked_pdf_stylesheet_link_tag "members"%>
  <table class="table table-striped table-bordered table-condensed table-hover">
  <tr>
    <th>Membership ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Designation</th>
    <th>Region</th>
    <th>Active</th>
    <th>Balance</th>
 </tr>

<% if @with_search_terms%>
       <% @members_pdf.each do |result|%>
           <% member = result[0]%>
           <% balance = result[1]%>
        <tr>
    <td><%= member.id%></td>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.designation %></td>
    <td><%= member.region %></td>
    <td><%= member.active %></td>
    <td><%= balance %></td>
  </tr>
       <%end%>
<%else%>
<% @members_pdf.each do |member| %>
  <tr>
    <td><%= member.id%></td>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.designation %></td>
    <td><%= member.region %></td>
    <td><%= member.active %></td>
    <td><%= member.balance %></td>
  </tr>
<% end %>
<%end%>
</table>
