<% if @members.any?%>
  <span class="label label-success"><%= @members.count%> judges found</span>
<%else%>
  <span class= "label label-error">no judges with balances</span>
<%end%>
<h2>Judges with balances</h2>
<%= search_form_for @search, url: judges_with_balances_path, html: {class: "form-search"} do |f|%>
  <%= f.number_field :id_eq, placeholder: "Membership ID"%>
  <%= f.text_field :first_name_cont, placeholder: "Fisrt Name"%>
  <%= f.text_field :last_name_cont, placeholder: "Last Name"%>
  <%= f.number_field :balance_gteq, placeholder: "with balance from"%>
  <%= f.number_field :balance_lteq, placeholder: "with balance to"%>
  <h5>sort by</h5>
  <%= f.select :region_eq, Member::Regions, include_blank: "#{'-'*14}Region#{'-'*14}"%>

  <%= f.select :active_eq, ['true', 'false'], include_blank: "#{'-'*14}Active#{'-'*14}"%><br><br>
  <%= f.submit "Search", class: "btn btn-primary"%>
  <%= link_to "clear", judges_with_balances_path, class: "btn btn-warning"%>
<%end%>

<table class="table table-striped table-bordered table-condensed table-hover">
  <tr>
    <th><%= sort_link @search, :id, "Membership ID"%></th>
    <th><%= sort_link @search, :first_name,"First Name"%></th>
    <th><%= sort_link @search, :last_name, "Last Name"%></th>
    <th><%= sort_link @search, :designation, "Designation"%></th>
    <th><%= sort_link @search, :region, "Region"%></th>
    <th><%= sort_link @search, :active, "Active"%></th>
    <th><%= sort_link @search, :balance, "Balance"%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.id%></td>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.designation %></td>
    <td><%= member.region %></td>
    <td><%= member.active %></td>
    <td><%= member.balance %></td>
    <td><%= link_to 'Show', member, class: "btn btn-mini btn-info" %></td>
    <td><%= link_to 'Edit', edit_member_path(member), class: "btn btn-mini btn-warning"%></td>
    <td><%= link_to 'Delete', member, method: :delete, data: { dismiss: 'Are you sure? NOTE: ALL THEIR PAYMENTS WILL BE DESTROYED' }, class: "btn btn-mini btn-danger"%></td>
  </tr>
<% end %>
</table>

<%= will_paginate @members%>
